html, body {
    height:100%;
    margin:0;
}

#second {
    position:absolute;
    top:200px;
    bottom:0;
    left:0;
    width:100%;
	border-top: 5px solid #ddd;    
}

/* responsive css */
@media screen and (max-width: 770px){
	#second {
	    top:250px !important;   
	}
}