<html ng-app="myApp">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Consulta Entidades Ministeriais</title>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
      <script type="text/javascript" src="js/angular.min.js"></script>
      <script type="text/javascript" src="js/ng-map.js"></script> 
      <script type="text/javascript" src="js/app.js"></script>
   </head>
   <body ng-controller="myCtrl as vm">

      <!-- start content fluid -->
      <div class="container-fluid">
	      <div class="row">
	         <div class="panel panel-default" style="margin:10px;">
	            <div class="panel-heading">
	               <h5><span class="glyphicon glyphicon-search"></span>&nbsp;CONSULTAR UNIDADES MINISTERIAIS</h5>
	            </div>
	            <div class="panel-body">
	               <form action="#">
	                  <div class="col-sm-6">
	                     <div class="form-group">
	                        <label>Cidade</label>
	                        <select class="form-control" ng-model="data.id" ng-change="getUnidade()">
	                           <option ng-repeat="x in cidade | orderBy:'nome'" value="{{x.id}}">{{x.nome}}</option>
	                        </select>
	                     </div>
	                  </div>
	                  <div class="col-sm-6">
	                     <div class="form-group">
	                        <label>Unidade Ministerial</label>
	                        <select class="form-control" ng-model="tempKey" ng-change="getDetails()">
	                           <option ng-repeat="y in unidade | orderBy: 'nome'" value="{{y.id}}">{{y.nome}} de {{y.endereco.cidade.nome}}</option>
	                        </select>
	                     </div>
	                  </div>
	               </form>
	            </div>
	         </div>
	      </div>
  	</div>
      <!-- end content fluid -->

      <!-- start map -->
      <ng-map id="second" zoom="17" class="map-responsive" center="{{url}}">
         <marker id="foo" centered="true" position="{{url}}" on-click="map.showInfoWindow(event, 'bar')">
            <!-- for show info window when map is loaded use: on-click="map.showInfoWindow(event, 'bar')" -->
         </marker>
         <info-window id="bar" center="{{url}}">
            <div ng-non-bindable>
               <div id="siteNotice"></div>
               <h1 id="firstHeading" class="firstHeading">{{temp[0].nome}}</h1>
               <div id="bodyContent">
                  <table class="table" border="0" cellpadding="1" cellspacing="2" width="100%">
                     <tbody>
                        <tr>
                           <td width="179" style="border-top:none;"><b>Número:</b> {{temp[0].endereco.numero}}</td>
                        </tr>
                        <tr>
                           <td width="273"><b>Membro:</b> {{temp[0].membro}}</td>
                           <td width="179"><b>Tipo:</b> {{temp[0].tipo.nome}}</td>
                        </tr>
                        <tr>
                           <td><b>Logradouro:</b> {{temp[0].endereco.rua}}</td>
                           <td><b>Bairro:</b> {{temp[0].endereco.bairro}} </td>
                        </tr>
                        <tr>
                           <td><b>Cidade:</b> {{temp[0].endereco.cidade.nome}}</td>
                           <td><b>Estado:</b> {{temp[0].endereco.cidade.estado}}</td>
                        </tr>
                        <tr>
                           <td><b>CEP:</b> {{temp[0].endereco.cep}}</td>
                           <td>
                              <nobr><b>Telefone:</b> {{temp[0].telefone}}</nobr>
                           </td>
                        </tr>
                        <tr>
                           <td><b>E-mail:</b> {{temp[0].email}}</td>
                           <td><b>Fax:</b> {{temp[0].fax}}</td>
                        </tr>
                        <tr>
                           <td colspan="2"><b>Complemento: </b>{{temp[0].endereco.complementoEndereco}}</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </info-window>
      </ng-map>
      <!-- end map -->

      <!-- external resources -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/style.css">
      <script src="js/jquery.js"></script>
   </body>
</html>